includes:
  - vendor/phpstan/phpstan-symfony/extension.neon
  - vendor/phpstan/phpstan-doctrine/extension.neon
  - vendor/phpstan/phpstan-doctrine/rules.neon

parameters:
  level: 1
  reportUnmatchedIgnoredErrors: false
  paths:
    - src
  scanFiles:
  bootstrapFiles:
    - src/bootstrap.php
  excludes_analyse:
    - src/Core.deprecated
    - src/Core/Tests
    - src/Modules.deprecated
    - src/Modules/Tests
  earlyTerminatingMethodCalls:
  symfony:
    container_xml_path: var/cache/dev/ForkCMS_Core_Domain_Kernel_KernelDevDebugContainer.xml
  doctrine:
    objectManagerLoader: src/Core/Tests/object-manager.php
