includes:
  - vendor/phpstan/phpstan-symfony/extension.neon
  - vendor/phpstan/phpstan-doctrine/extension.neon
  - vendor/phpstan/phpstan-doctrine/rules.neon

parameters:
  level: 6
  reportUnmatchedIgnoredErrors: false
  treatPhpDocTypesAsCertain: false
  ignoreErrors:
    # Symfony Form generics (FormInterface, FormBuilderInterface, etc.) are not worth annotating everywhere
    -
      message: '#Symfony\\Component\\Form#'
      identifier: missingType.generics
  paths:
    - src
  scanFiles:
  bootstrapFiles:
    - src/bootstrap.php
  excludePaths:
    - src/Core/tests/*
    - src/Themes/*
    - src/Core/templates/Maker/*
    - src/Modules/*/tests/*
  earlyTerminatingMethodCalls:
  symfony:
    containerXmlPath: var/cache/dev/ForkCMS_Core_Domain_Kernel_KernelDevDebugContainer.xml
  doctrine:
    objectManagerLoader: src/Core/tests/ObjectManager.php
  parallel:
    jobSize: 20
    maximumNumberOfProcesses: 32
    minimumNumberOfJobsPerProcess: 2
