<?xml version="1.0" encoding="UTF-8"?>

<!-- http://phpunit.de/manual/4.1/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.4/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="src/bootstrap.php"
         stderr="true"
>
    <testsuites>
        <testsuite name="installer">
            <directory>src/Core/Tests/Installer</directory>
        </testsuite>

        <testsuite name="unit">
            <directory>src/Core/Tests</directory>
            <directory>src/Modules/*/Tests</directory>
            <exclude>src/Core/Tests/Installer</exclude>
            <exclude>src/Modules/*/Tests/Controller</exclude>
            <exclude>src/Modules/*/Tests/Actions</exclude>
        </testsuite>

        <testsuite name="functional">
            <directory>src/Modules/*/Tests/Controller</directory>
            <directory>src/Modules/*/Tests/Actions</directory>
            <exclude>src/Core/Tests/Installer</exclude>
        </testsuite>
    </testsuites>

    <php>
        <env name="APP_ENV" value="test" />
        <env name="APP_DEBUG" value="1" />
    </php>
</phpunit>
