{% extends '@ForkCMSInstaller/base.html.twig' %}
{% import '@ForkCMSInstaller/navigation.html.twig' as nav %}

{% block navigation %}
  {{ nav.navigation('step-0') }}
{% endblock %}

{% block content %}

  <div class="row justify-content-center">
    <div class="col-lg-7">
      <div class="card card-primary">
        <div class="card-heading">
          <h3 class="card-title">Welcome to Fork CMS</h3>
        </div>

        <div class="card-body">
          <h3 class="mb-3">You are about to install Fork CMS</h3>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
